name: Swift

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate_format_config:
    name: Validate Format Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install apt dependencies
        run: sudo apt-get -qq update && sudo apt-get -qq -y install curl

      - name: Compare against swift-mmio swift-format config
        run: |
          curl -sL https://raw.githubusercontent.com/apple/swift-mmio/refs/heads/main/.swift-format -o .swift-format-mmio
          diff .swift-format .swift-format-mmio

  apple-cross-build:
    name: Build / ${{ matrix.os.name }} (Xcode ${{ matrix.xcode_version }} - ${{ matrix.macos_version }} - ${{ matrix.macos_arch }})
    runs-on: [self-hosted, macos, "${{ matrix.macos_version }}", "${{ matrix.macos_arch }}"]
    strategy:
      fail-fast: false
      matrix:
        xcode_version: ["16.3"]
        os:
          - name: iOS
            platform: iOS
          - name: tvOS
            platform: tvOS
          - name: visionOS
            platform: xrOS
          - name: watchOS
            platform: watchOS
        arch: [arm64]
        macos_version: [sequoia]
        macos_arch: [ARM64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Select Xcode
        run: echo "DEVELOPER_DIR=/Applications/Xcode_${{ matrix.xcode_version }}.app" >> $GITHUB_ENV
      - name: Swift version
        run: xcrun swift --version
      - name: Build / Test
        run: xcodebuild build -scheme swift-mmio-Package -destination generic/platform=${{ matrix.os.platform }}
        timeout-minutes: 60

  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      enable_macos_checks: true
      enable_windows_checks: false  # too slow
      swift_flags: --configuration release
      # minimum Swift version is 6.1
      macos_exclude_xcode_versions: |
        [
          {"xcode_version": "16.0"},
          {"xcode_version": "16.1"},
          {"xcode_version": "16.2"},
        ]
      linux_exclude_swift_versions: |
        [
          {"swift_version": "5.9"},
          {"swift_version": "5.10"},
          {"swift_version": "6.0"},
        ]

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      api_breakage_check_enabled: false  # this repo isn't API stable yet
      # minimum Swift version is 6.1
      docs_check_container_image: swift:6.1-noble
      docs_check_additional_arguments: |
        --enable-experimental-combined-documentation
        --enable-experimental-overloaded-symbol-presentation
        --symbol-graph-minimum-access-level public
      format_check_container_image: swiftlang/swift:nightly-main
