name: Swift

on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate_format_config:
    name: Validate Format Config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install apt dependencies
        run: sudo apt-get -qq update && sudo apt-get -qq -y install curl

      - name: Compare against swift-mmio swift-format config
        run: |
          curl -sL https://raw.githubusercontent.com/apple/swift-mmio/refs/heads/main/.swift-format -o .swift-format-mmio
          diff .swift-format .swift-format-mmio

  tests:
    name: Test
    uses: swiftlang/github-workflows/.github/workflows/swift_package_test.yml@main
    with:
      enable_macos_checks: true
      # bug: https://github.com/swiftlang/github-workflows/pull/130
      macos_build_command: xcun swift test --configuration release
      swift_flags: --configuration release
      swift_nightly_flags: --configuration release
      # minimum Swift version is 6.1
      macos_exclude_xcode_versions: |
        [
          {"xcode_version": "16.0"},
          {"xcode_version": "16.1"},
          {"xcode_version": "16.2"},
        ]
      linux_exclude_swift_versions: |
        [
          {"swift_version": "5.9"},
          {"swift_version": "5.10"},
          {"swift_version": "6.0"},
        ]
      windows_exclude_swift_versions: |
        [
          {"swift_version": "5.9"},
          {"swift_version": "5.10"},
          {"swift_version": "6.0"},
        ]

  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      api_breakage_check_enabled: false  # this repo isn't API stable yet
      docs_check_enabled: false  # too slow
      format_check_container_image: swiftlang/swift:nightly-main
      license_header_check_enabled: false  # feature: https://github.com/swiftlang/github-workflows/issues/78
      license_header_check_project_name: "Swift.org"  # bug: https://github.com/swiftlang/github-workflows/issues/76
