name: Swift

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container: swift:nightly-main
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: apt-get -qq update && apt-get -qq -y install make
      - name: Lint
        run: make lint

  test:
    name: Swift (${{ matrix.swift.version }}) / Ubuntu (${{ matrix.os.version }})
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        os:
          - name: jammy
            version: "22.04"
        swift:
          - repo: swiftlang/swift
            version: "nightly-6.1"
          - repo: swiftlang/swift
            version: "nightly-main"
    container: ${{ matrix.swift.repo }}:${{ matrix.swift.version }}-${{ matrix.os.name }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: apt-get -qq update && apt-get -qq -y install make
      - name: Build & Test
        run: make test CONFIGURATION=release
